{% if editedCat.parent is defined and editedCat.parent == null %}
	<option selected value="0">No parent</option>
{% else %}
	<option value="0">No parent</option>
{% endif %}
{% for category in cats.catList %}
	{% if editedCat.parent.getId() is defined and editedCat.parent.getId() == category.id %}
		<option selected value="{{category.id}}">{{category.name}}</option>
	{% else %}
		<option value="{{category.id}}">{{category.name}}</option>
	{% endif %}
{% endfor %}